:host {
  display: flex;
  flex-wrap: wrap;
}

.sprite-container {
  padding: 15px;
  flex-basis: calc(100% / 4);
  div {
    display: flex;
    align-content: center;
    flex-direction: column;
  }
  img {
    margin: 0 auto;
  }
  p {
    margin: 0;
    text-align: center;
  }
}



